<div class="container">


  <div class="box">
    <a routerLink='/modal'>
        <img class="box-img" src="./../../../assets/angular-icon-1.svg" >
    </a>  
      <div class="blog-header">
        <a class="blog-title" routerLink='/modal'>Angular Custom Modal Component</a>
        <p class="sub-title">   Published 10/26/2020 . 15 min read</p>
        <p class="blog-text">
          The modal component is a reusable widget that can be used for multiple purposes.
          It may display a simple informational message telling the user something like the application is about to delete somthing or displaying a feed back from a server process. You will desgin the template that is used inside the modal by yourself so you may tell if it has a draggable caption, contain some icon or picture or even buttons and inputs. You will supply all of that information through a congiuration object that is registered by using a template registeration service along with an instance of a data provider context object that is used to bind with the template elements with data. After that you can hook your methods for intercepting the modal events which will be triggered during execution and upon exiting from the modal.
        </p>
      
      <button class="read-more link" mat-icon-button   aria-label="reade more" routerLink='/modal' >
          Read More
          <mat-icon>read_more</mat-icon>
      </button>
    </div>
</div>


    <div class="box">
        <img src="../assets/blog-post-thumb-1.jpg" class="box-img">
        <div class="blog-header">
          <a  class="blog-title"  routerLink='/modal'>Why Every Developer Should Have A Blog</a>
          <p  class="sub-title" >   Published 10/20/2020 . 5 min read</p>
          <p class="blog-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</p>
          <button class="read-more link" mat-icon-button   aria-label="reade more" routerLink='/modal'  >
            Read More
            <mat-icon>read_more</mat-icon>
        </button>

        </div>

    </div>


  
    

</div>