<!--ng-container *ngFor="let card of [1,2,3,4,5,6]">
</ng-container-->
    <!--mat-card-->

    <div class="box">
      
      <!--src="../assets/blog-post-thumb-1.jpg"
    Why Every Developer Should Have A Blog
    -->
        <img src="../assets/blog-post-thumb-1.jpg" width="130px;" height="130px;" style="float:left;margin-right: 10px;">
        <a style="font-size:1.275rem;font-weight: 500;" routerLink='/modal'>Why Every Developer Should Have A Blog</a>
        <p style="font-size:14px;font-weight: 100;color:green">   Published 10/20/2020 . 5 min read . 0 comments</p>
        <p style="font-size:14px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</p>
        
        <!--
        <a style="font-size:14px;color:green;" href="#">Read more →

        </a>
        
        -->
        <button mat-icon-button  class="link" aria-label="reade more" routerLink='/modal' style="font-size:14px;color:orangered;">
            Read More
            <mat-icon>read_more</mat-icon>
        </button>
    </div>


    <div class="box">
        <a routerLink='/modal'>
            <img src="./../../../assets/angular-icon-1.svg" width="130px;" height="130px;" style="float:left;margin-right: 10px;">
        </a>  
          <a style="font-size:1.275rem;font-weight: 500;" routerLink='/modal'>Angular Custom Modal Component</a>
          <p style="font-size:14px;font-weight: 100;color:green">   Published 10/26/2020 . 15 min read . 0 comments</p>
          <p style="font-size:14px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</p>
          <button mat-icon-button  class="link" aria-label="reade more" routerLink='/modal' 
            style="font-size:14px;color:orangered;">
              Read More
              <mat-icon>read_more</mat-icon>
          </button>
      </div>
  
      <hr style="width:100%;text-align:left;margin-left:0">
    <div class="fb-follow" data-href="http://localhost:4200/technical-blogs" data-width="" data-layout="button_count" data-action="follow" data-size="large" data-share="true"></div>
    <div class="fb-like" data-href="http://localhost:4200/technical-blogs" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
    <br/>
    <div class="fb-comments" data-href="http://localhost:4200/technical-blogs" data-numposts="5" data-width=""></div>


