<ng-container *ngFor="let card of [1,2,3,4,5,6]">
    <mat-card class="box">
      <img src="../assets/blog-post-thumb-1.jpg" width="130px;" height="130px;" style="float:left;margin-right: 10px;">
      <a style="font-size:1.275rem;font-weight: 500;" href="#">Why Every Developer Should Have A Blog</a>
       <p style="font-size:14px;font-weight: 100;color:green">   Published 2 days ago . 5 min read . 8 comments</p>
        <p style="font-size:14px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</p>
        <a style="font-size:14px;color:green;" href="#">Read more →</a>


    </mat-card>
</ng-container>


