<div class='container'>
    <header>Work Experience</header>

    <app-tags></app-tags>

    <div class="summary">
        <span>{{summaryBegin}}</span>
        <p>
            I'm a software engineer having a 27 years of experience building a wide variety of software projects like
            enterprise applications, desktop applications, web applications, content management, distributed
            systems,business management, GUI tools, data services, client applications, service integration,
            engines, ORM tools and many others.
        </p>
        <p>
            My dominant languages was C++ and C#. During my career I used so many technologies provided by the 
            major software vendors in the world so I dealt with so many Frameworks and libraries.
        </p>
        <p>
            The last 15 years of my career was heavily .NET orinted at the backend and I was concerned to introduce well
            designed code and modern software architecture patterns inside my work side by side of diving into
            front-end web technologies like HTML,CSS, javascript, typescript,ajax using such a famous
            frameworks in the market like knockout,angularjs and angular 2+.
        </p>
        <span>`;</span><br>
        <span>}</span>
    </div>


    <div class='section'>
      <div class='section-header' >
      <div class='title'>Software Development Lead</div>  
      <div class='interval'>02/2005 - Present</div>  
      <div class='employer'>Solid Technologies</div>
      <div class='address'>Nasr City - Cairo</div>
      </div>
      <div class="experience">

            <p>
                Building modern web applications targeting small to medium enterprise business scale that
                conforms to the SOLID design patterns and layered application architecture using ASP.NET MVC,
                REST, Entity Framework, Angular, JavaScript, JSON, CSS, HTML and jQuery technologies.
                The main line of products are four main business management software projects:
            </p>
            <ul>
                <li>General Ledger</li>
                <li>Inventory & Stock Control</li> 
                <li>Payroll & Personnel</li>
                <li>Charity Management system for charity organizations.</li> 
                <li>Separate small Web sites and applications.</li>
            </ul>
            <p>
                These systems are long term products that targets small to medium sized companies and intended to
                distribute as on-shelf with custom modifications if needed for relevant clients.
                Every product of them started as a desktop application and later on converted to a web version.
                My role was to:
            </p>
            <ol>
                <li>
                    Choose the appropriate architecture model for the applications and to design and
                    implement abstraction layers that holds a base common functionalities code base,
                    interfaces and services to other software layers. To name a few:
                    <ol style="list-style-type: lower-latin;">
                        <li>
                            JavaScript library for web client SPA applications using AngularJS , Angular 8 which
                            implements base code functionality for UI data entry forms, server WEB API
                            communications, client validation directives, data browsers components that
                            supports sever side search and filtering integrated with "Kendo UI" widgets,
                            lookup fields component, full data grid and many other utilities.
                        </li>
                        <li>Base domain objects layer</li>
                        <li>Base desktop GUI forms</li>
                        <li>Both domain and GUI validators.</li>
                        <li>Base database adaptors.</li>
                        <li>Remoting channels hooks.</li>
                        <li>Base business service layers.</li>
                        <li>Base session management.</li>
                        <li>Base server controllers.</li>
                        <li>Generic data access repositories using Entity Framework.</li>
                        <li>Custom dynamic domain objects mapper and serialization to JSON using reflection</li>
                            and delegates similar to Auto Mapper.
                    </ol>
                </li>

                <li>
                    Design and implement the integration between application's layers.
                </li>
                <li>
                    Implement various sharable utilities and tools that are used by the applications
                    developers to facilitate rapid and less error prone development and implementation
                    cycles like client application license management, application's database versioning
                    upgrade, and form templates generator.
                </li>
                <li>
                    Code review.
                </li>
                <li>
                    Application performance testing, debugging and problems solving.
                </li>
            </ol>    


      </div>
    </div>

<div class='section'>
      <div class='section-header' >
      <div class='title'>Senior Project Manager / C++ System Architect - Information System Dept.</div>  
      <div class='interval'>04/2004 - 09/2004</div>  
      <div class='employer'>Sakhr Software</div>
      <div class='address'>Free Zone,Cairo, Egypt</div>
      </div>
      <div class="experience">
          <p>
            Since IDRISI, the famous bilingual search engine of Sakhr was getting some repetition as a back
            end database for Arabic/English free text search and information retrieval for the web and the
            enterprise, the company assigned to me the mission of studying the current system architecture,
            finding its deficiencies and proposing a new design and architecture for a high concurrent, scalable
            and fault tolerant system. I’d start doing my research studying what the other had reached by
            reading the articles on famous search engines design, also the academic research papers published
            freely on the internet gave me a great help and knowledge. Lately a proposal report was delivered by
            me which covers most of the system weak points, proposes a new design and methods for
            recovering them, the report addressed: compression/decompression techniques, fast data reading
            algorithms, fast query evaluation methods for binary search type, new search types techniques
            (Relevancy Ranked Search) and finally, a database management module for efficient data saving
            and retrieval.
          </p>
      </div>
    </div>



    <div class='section'>
        <div class='section-header' >
        <div class='title'>Senior Project Manager / C++ System Architect - Knowledge Managment Dept</div>  
        <div class='interval'>01/2000 - 04/2004</div>  
        <div class='employer'>Sakhr Software</div>
        <div class='address'>Free Zone,Cairo, Egypt</div>
        </div>
        <div class="experience">
            <p>
                ArabDox is an enterprise document management system that intends to help enterprises,
                foundations, organizations and government sectors to manage their native business documents
                efficiently including the Arabic language features support embedded on the system. Although the
                system “until version 4.00” was lacking most of the standard intrinsic features that should be
                fulfilled by any competitive enterprise software system that seeks a market share like: availability,
                responsiveness, consistency, extensibility and scalability.
            </p> 
            <p>
                As the company was walking towards
                enhancing its systems for the real enterprise and web market, I was assigned as Project Manager/
                System Architect the mission of re-architecting and re-implementing ArabDox to satisfy those
                business needs. As a result I went with my team to embed those features inside the system by
                generally speaking implementing the followings:
            </p>
                <ol>
                    <li>
                        Supporting concurrent access to the system resources using system threading.
                    </li>
                    <li>
                        Using the latest database access technologies provided by Microsoft to utilize better and fast
                        data manipulation like huge datasets manipulation and multiple database connections.
                    </li>
                    <li>
                        Addressing and re-architecting the bottlenecks modules of the system to satisfy the standards.
                    </li>
                    <li>
                        Integrating the system with the Microsoft Transaction Server which is on of the globally
                        well known transaction monitors that is used widely today by software vendors which
                        supplies enterprise applications running under the internet/intranet environments.
                    </li>
                    <li>
                        Re-architecting the imaging system to satisfy extensibility and portability requirements
                        fluently.
                    </li>   
                </ol>
            
            <p>
                The system was released succesflly (ver 4.00) on May, 2004 and sent to the “Intel Labs” at London
                to be benchmark-ed under a heavy load test, later on, the benchmark report decalred a great post
                on the system performance,throuput, concurrency and stability.
            </p>
            <ul>
                <li>At early stages on the department and as a project manager, I was responsible for the ArabDox
                client team. The client team was the team that develops and maintains the client part of ArabDox.
                My responsibility was executing projects plans concerning this part of the system, including
                planning, scheduling tracking, design, problem solving and also coding issues.
                </li>
                <li>
                During my presence in the department, I always was meant by technical consultation from the top
                management regarding too many issues both internally and externally (out of the department).            
                </li>
            </ul>
            
        </div>
      </div>
  

      <div class='section'>
        <div class='section-header' >
        <div class='title'>Project Manager - Electronic Mail Managment Dept.</div>  
        <div class='interval'>01/1999 - 01/2000</div>  
        <div class='employer'>Sakhr Software</div>
        <div class='address'>Free Zone,Cairo, Egypt</div>
        </div>
        <div class="experience">
            <ul>
                <li>
                    As the department was assigned an e-mail content management project, I was responsible for
                    managing the testing team by preparing testing scenarios documents, assigning them to testers,
                    publishing bugs reports and coordinating the development team by the testing team, also I’d
                    implemented the version source control schema of the project using the Microsoft Visual
                    SourceSafe including training the development team for how to use the SourceSafe server properly
                    supplying them by the proper technical documents ,instructions and materials
                </li>
                <li>
                    Aside from the e-mail content management project, I was assigned the task of developing an e-mail
                    client SDK for in-house use by the company projects. The SDK supported the standard Internet email
                    protocols like: POP3, SMTP and IMAP4 rev1. Enabling its users from logging in/out to any
                    mail server that supports these protocols, querying, fetching, sending and even deleting mail
                    messages and various operations supported by the server.
                </li>
                <li>
                    Also I’d developed a utility control that enables a user client from sending an e-mail message after
                    determining its destination addresses, subject, text body and attachment files programmatically, the
                    control then can launch the default MAPI client installed on the user system, using the simple MAPI
                    SDK supported by Windows for sending the message.
                </li>
            </ul>
        </div>
      </div>
  
  

      <div class='section'>
        <div class='section-header' >
        <div class='title'>Senior C++ Developer - Operating Systems Dept.</div>  
        <div class='interval'>08/1998 - 01/1999</div>  
        <div class='employer'>Sakhr Software</div>
        <div class='address'>Free Zone,Cairo, Egypt</div>
        </div>
        <div class="experience">
            <ul>
                <li>
                    This was my first place inside Sakhr, the main project worked by the department was “Sindbad
                    Communicator”, the Arabic version of the famous Internet browser “Netscape Communicator”,
                    there was an extension to Sindbad that adds a directory server which hosts enterprise directory
                    information that a user can display and use through Sindbad, I was responsible for implementing the
                    client dll that communicates the directory server via Windows Sockets.
                <li>
                    On my first steps on the department, I had a good training course in debugging user mode
                    applications using the NuMega’s SoftICE Windows debugger, that training added me a great value
                    on my career later on since good debugging skills is a great power on developing class software            
                </li>
                <li>
                    Also I’d developed a utility control that enables a user client from sending an e-mail message after
                    determining its destination addresses, subject, text body and attachment files programmatically, the
                    control then can launch the default MAPI client installed on the user system, using the simple MAPI
                    SDK supported by Windows for sending the message.
                </li>
            </ul>
        </div>
      </div>


      <div class='section'>
        <div class='section-header' >
        <div class='title'>Windows C++ Developer - Tools Dept.</div>  
        <div class='interval'>08/1995 - 08/1998</div>  
        <div class='employer'>Delta Software</div>
        <div class='address'>Heliopolis, Egypt</div>
        </div>
        <div class="experience">
            <ul>
                <li>
                    Delta Software was a leading software company that supplies the internal and the external market
                    with financial and business management applications since the early of the 80’s. As the company
                    was moving towards Windows platform, I joined the Tools team that was responsible for developing
                    “Delta Professional” the home made application framework that is used as the internal application                
                    generator of the company.
                </li>
                <li>
                    My first task was developing a virtual list box control that is capable of displaying and navigating
                    any number of records using the paging techniques.
                </li>
                <li>
                    Next I’d extended the virtual ListBox control to a DataBrowser one, the DataBrowser still support
                    the huge records navigation feature besides multiple data columns browsing, column highlighting,
                    column sorting and searching.
                </li>
                <li>
                    As I was showing an excellent performance on control design and implementation, I’d continued the
                    work of developing the rest of the controls like: Combo Box, Group Box, and Radio Button. These
                    controls was the intrinsic objects that the application programmer should use in building his
                    application as he can manipulate its properties (color, font, position, etc…), connect them with the
                    Database and even program them with scripts that triggers on the occurring of special events. My
                    job actually covered the implementation of all the mentioned features to work on both design and
                    runtime mode.
                </li>
                <li>
                    Later on, I was assigned the Form Designer management module; my job was to add the following
                    features to the form: controls alignment, controls sizing, group attributes assignment for controls,
                    insertion, deletion, context floating menus and fast access toolbars for form manipulation, form grid,
                    undo/redo features
                </li>
                <li>
                    Also, I’d made a full design and implementation for the runtime execution cycle of the application
                    from defining application events, methods and sockets for user written scripts including all the
                    necessary details for controls communication between themselves and the Database.
                </li>
                <li>
                    As the OLE technology was getting a repetition, I made an enhancement to the form designer by
                    enabling it to host ActiveX controls at design time and calling them through automation on runtime.
                </li>
            </ul>
        </div>
      </div>



      <div class='section'>
        <div class='section-header' >
        <div class='title'>Senior C++ Developer</div>  
        <div class='interval'>08/1995 - 08/1998</div>  
        <div class='employer'>Prosoft Software</div>
        <div class='address'>Muhandseen,Cairo, Egypt</div>
        </div>
        <div class="experience">
            <ul>
                <li>
                    This was my first steps into software development, in "Prosoft". We were a small team using Turbo
                    C++ to program business management applications that runs under DOS like stock control, payroll,
                    accounting and the like. The development had included implementation of the followings: file
                    management modules, text box editors, and message boxes, dialog boxes, popup menus and help
                    editors, since DOS was lacking such a built in utilities.                
                </li>
                <li>
                    Besides development, and as a civil engineer with a project management background, the company
                    decided to depend on me as a technical support for “Artemis Schedule Publisher” (ASP), a project
                    management package applies for planning and scheduling of project’s activities using CPM
                    analysis, resource loading and assignment, resource cost tracking, progress calculations against the
                    original plan and finally reports publishing.
                </li>
            </ul>
        </div>
      </div>


      <div class='section'>
        <div class='section-header' >
        <div class='title'>Civil/Autocad Engineer</div>  
        <div class='interval'>01/1993–08/1993</div>  
        <div class='employer'>El Saie For Engineering Consultation</div>
        <div class='address'>Roxi,Cairo, Egypt</div>
        </div>
        <div class="experience">
            <ul>
                <li>
                    Applying, modifying, updating and plotting engineering drawings.
                </li>
                <li>
                    Environment improving and customization through AutoCAD’s advanced techniques and AuotLisp
                    script routines.                
                </li>
            </ul>
        </div>
      </div>

      <div class='section'>
        <div class='section-header' >
        <div class='title'>Civil Site Engineer</div>  
        <div class='interval'>08/1991–01/1993</div>  
        <div class='employer'>Egyptian Contracts Company “Mukhtaar Ibraheem”</div>
        <div class='address'>Cairo, Egypt</div>
        </div>
        <div class="experience">
            <ul>
                <li>
                    Executing for “Al-Zahara Nasr City Water Supply Project“.
                </li>
            </ul>
        </div>
      </div>


      <div class='section'>
        <div class='section-header' >
            <div class='title'>Education</div>  
            <div class='interval'>June 1989</div>  
            <div class='employer'>Faculty Of Engineering - Ain-Shams University</div>
            <div class='address'>Cairo, Egypt</div>
        </div>
        <div class="experience">
            <ul>
                <li>
                    B.Sc., Civil engineering, Public Works Dept.
                </li>
            </ul>
        </div>
      </div>


</div>
