.blog-description{
    
    height: 250px;
    width: 100%;
    text-align: center;
    margin: 0;
    background: #fafafa ;
}
 .title{
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}
#email{
    /*
    height: 38px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 5px;*/
    width: 400px;
    display: inline;
}
#btn-subscribe {
    display: inline;
    height: 42px;
    width: 112px;
    background-color: #5FCB71;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold ;
    border-width: 1px;
    font-size: 16px;
    border-color: honeydew;
}