<div class="blog-description" >
    <p class="title">Welcome to my blog</p>
    <h2>A blog made for software engineering and general thoughts</h2>
    <h3>Subscribe and get my latest blog post in your inbox</h3>
    <button mat-icon-button  aria-label="subscriptions" matTooltip="Subscribe" matTooltipPosition="below" 
        matTooltipHideDelay="100" disabled>
        <mat-icon>mail</mat-icon>
    </button>

      <input placeholder="Enter email" type="email" class="form-control" id="email">
      <button class="form-control" id="btn-subscribe">Subscribe</button>
  </div>  

