.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
  }
  
.khaled-img-container{
    text-align: center;
    padding-top: 50px;
}
.khaled-img-container img{
vertical-align: middle;
width: 155px;
height: 180px;
border-radius: 70%;
}
.side-bar-text-container{
    padding: 20px;
    text-align: center;
}
.side-bar-text-container p{
/*color: white;*/
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
margin-top: 20px;;
}

.main-container{
display: grid;
grid-gap : 1px;
grid-template-columns: 20% 80%;
grid-template-rows: 1fr auto 1fr; 
grid-template-areas: 
"header header"
"side-bar main-content"
"footer footer"
;

}
.menu-buttons{
    grid-area: menu-bittons;
}
.header{
    grid-area: header;
}

.side-bar{
    grid-area: side-bar;
    /*background-color:  #5FCB71;*/
    background: white;
    
    padding-top: 0px;
    margin-top: 0;
}

.main-content{
    justify-content: center;
    grid-area: main-content;
}

.footer {
grid-area: footer;
width: 100%;
text-align: center;
padding: 3px;
background-color: #3f51b5;
color: white;
}

.footer p{
vertical-align: middle;
padding-top: 15px;
}


  img.ain:hover{
cursor: pointer;
}

.menu-buttons{
    margin-left: 300px;
}
.side-bar-toolbar{
    display: none;
}
@media screen and (max-width:500px){

    .menu-buttons{
        display: none;
    }
    .side-bar-toolbar{
        display: flex;
        
    }
    
    .main-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto 1fr; 
        grid-template-areas: "header"  "side-bar" "main-content" "footer";
  
    }
    .header{
        display: inline-block;
    }


}