<div class="main-container">
  <div class="header">
    <mat-toolbar >
      <mat-toolbar-row >
          <span>Khaled Saleh personal Blog</span>
          <img class="avatar" src="./../assets/avataaars.png" alt="Programmer Avatar Image"/>
            <div class="menu-buttons">
                <button mat-icon-button  aria-label="Home" matTooltip="Home page" matTooltipPosition="below" matTooltipHideDelay="100"
                  routerLink='home'  >
                  <mat-icon>home</mat-icon>
                </button>

                <button mat-icon-button  aria-label="Home" matTooltip="Blogs" matTooltipPosition="below" matTooltipHideDelay="100"
                routerLink='technical-blogs'
                >
                  <mat-icon>article</mat-icon>
                </button>

                <button mat-icon-button  aria-label="Modal Widget" matTooltip="Modal Component" matTooltipPosition="below" matTooltipHideDelay="100"
                  routerLink='modal' >
                  <mat-icon>library_add_check</mat-icon>
                </button>
                
                <img src="../assets/ain.png" style="width:30px;height:30px;" class="ain"
                  matTooltip="منشورات بالعربى" matTooltipPosition="below" matTooltipHideDelay="100"
                />

                <button mat-icon-button  aria-label="Articles" matTooltip="Articles" matTooltipPosition="below" matTooltipHideDelay="100"
                  routerLink='articles' >
                  <mat-icon>library_add_check</mat-icon>
                </button>


          </div>
      </mat-toolbar-row>
    </mat-toolbar>


    <mat-toolbar class="side-bar-toolbar">
      <mat-toolbar-row >
            <div class="side-menu-buttons">
                <button mat-icon-button  aria-label="Home" matTooltip="Home page" matTooltipPosition="below" matTooltipHideDelay="100"
                  routerLink='home'  >
                  <mat-icon>home</mat-icon>
                </button>

                <button mat-icon-button  aria-label="Home" matTooltip="Blogs" matTooltipPosition="below" matTooltipHideDelay="100"
                routerLink='technical-blogs'
                >
                  <mat-icon>article</mat-icon>
                </button>

                <button mat-icon-button  aria-label="Modal Widget" matTooltip="Modal Component" matTooltipPosition="below" matTooltipHideDelay="100"
                  routerLink='modal' >
                  <mat-icon>library_add_check</mat-icon>
                </button>
                
                <img src="../assets/ain.png" style="width:30px;height:30px;" class="ain"
                  matTooltip="منشورات بالعربى" matTooltipPosition="below" matTooltipHideDelay="100"
                />
          </div>

      </mat-toolbar-row>
    </mat-toolbar>


  </div>



  
  <div class="side-bar">
    <div class="khaled-img-container">
      <img src="./../assets/khaled.jpg" />
    </div>  
   
    <div class="side-bar-text-container">
      <p>
        Hi, my name is Khaled Saleh, I'm a software eningneer since the early of 90's.
        This is my personal web site that I use for blogging thoughts both technical and general.
      </p>
      <p>
        Hoping you find something interesting here.
      </p>
      <p>
        Thank you for visting and have a good day.
      </p>
      <hr style="width:100%;text-align:left;margin-left:0">

      <ul class="navbar-nav" style="text-align: left;margin-left: 20px;">
        <li class="nav-item">
          <button routerLink='home' mat-icon-button  aria-label="Home" matTooltip="Home page" matTooltipPosition="right" matTooltipHideDelay="100">
            <mat-icon>home</mat-icon>
            Blog home
          </button>
        </li>


        <li class="nav-item">
          <button mat-icon-button  aria-label="Home" matTooltip="Blogs" matTooltipPosition="right" matTooltipHideDelay="100"
            routerLink='technical-blogs'
          >
            <mat-icon>article</mat-icon>
            Blog post
          </button>
          
        </li>
      </ul>
    </div>
  </div>

  
  <div class="main-content">
    <router-outlet></router-outlet>

  </div>




<div class="footer">
  <div>
    <p > Khaled Saleh © 2020</p>
  </div>
</div>


</div>



