<div class="main-container">
  <div class="header">
    <mat-toolbar >
    <mat-toolbar-row >
      <span>Khaled Saleh personal Blog</span>
      <img class="avatar" src="./../assets/avataaars.png" alt="Programmer Avatar Image"/>

      <button mat-icon-button  aria-label="Home" matTooltip="Home page" matTooltipPosition="below" matTooltipHideDelay="100"
        routerLink='home'
      >
        <mat-icon>home</mat-icon>
      </button>

      <button mat-icon-button  aria-label="Home" matTooltip="Blogs" matTooltipPosition="below" matTooltipHideDelay="100"
      routerLink='technical-blogs'
      >
        <mat-icon>article</mat-icon>
      </button>

      
      <a routerLink="modal" > Modal Widget      </a>

      

    </mat-toolbar-row>
    </mat-toolbar>
  </div>




  <div class="side-bar">
    <div class="khaled-img-container">
      <img src="./../assets/khaled.jpg" >
      
      <p>
        Hi, my name is Khaled Saleh, I'm a software eningneer since the early of 90's.
      </p>
      <p>
        This is my personal web site that may I use for blogging thoughts both technical or general and also my work samples.
        I hope you find something interesting here.
      </p>
      <p>
        Thank you for visting and have a good day.
      </p>
      <hr style="width:100%;text-align:left;margin-left:0">

      <ul class="navbar-nav" style="text-align: left;margin-left: 20px;">
        <li class="nav-item">
          <button routerLink='home' mat-icon-button  aria-label="Home" matTooltip="Home page" matTooltipPosition="below" matTooltipHideDelay="100">
            <mat-icon>home</mat-icon>
            Blog home
          </button>
        </li>


        <li class="nav-item">
          <button mat-icon-button  aria-label="Home" matTooltip="Blogs" matTooltipPosition="below" matTooltipHideDelay="100"
            routerLink='technical-blogs'
          >
            <mat-icon>article</mat-icon>
            Blog post
          </button>
          
        </li>
      </ul>
    </div>
  </div>

  
  <div class="main-content">
    <router-outlet></router-outlet>

  </div>




<footer >
  <p > Khaled Saleh © 2020</p>
</footer>


</div>



