.toggle-code{
    height:50px;
}
.toggle-code button{
    float: right;
    color: lightgray;
}
.demo{
    margin: 20px;
    text-align: center;
}
.demo-title {
    color: lightslategray;
    display: inline;
    
}

.container{
    font-size: 125%;
    margin: 0;
}


@media screen and (max-width:500px){
    .container {
        max-width: 90vw;
        margin: 0;
    }     

    .code-container{
        margin: 0;
        padding: 0;
    }
}