.toggle-code{
    height:50px;
}
.toggle-code button{
    float: right;
    color: lightgray;
}
.demo{
    margin: 20px;
    text-align: center;
}
.demo-title {
    color: lightslategray;
    display: inline;
    
}

.container{
    font-size: 125%;
}