<div class="container">
    
    <div  class="toggle-code"> 
        <div style="margin-top: 20px;">
        <span ><h3 class="demo-title" >{{Title}}</h3> </span>
        <button mat-icon-button  aria-label="code" (click)="ToggleCode()"
            matTooltip="Toggle code"
            matTooltipPosition="below"
            matTooltipHideDelay="100"
        >
            <mat-icon>code</mat-icon>
        </button>
        </div>
        
    </div>

    <div class="code-container">
        <mat-tab-group *ngIf="CodeView" (selectedTabChange)="tabSelected($event)">
            <ng-container *ngFor="let descriptor of CodeDescriptors">
                <mat-tab label={{descriptor.Title}} >
                    <app-code   CodeText={{descriptor.CodeText}} CodeClass={{descriptor.CodeClass}}>    </app-code>
                </mat-tab>    
            </ng-container>
        
        </mat-tab-group>
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
</div>    




